<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SerwoDemoBoniatoTech">
        <activity android:name=".PantallaPrincipal"></activity>
        <activity android:name=".FileManager"></activity>
        <activity android:name=".GestionDatos"></activity>
        <activity android:name=".PantallaAdministracion"></activity>
        <activity android:name=".GestionRoles"></activity>
        <activity android:name=".RegistroUsuarios"></activity>
        <activity android:name=".AsignarRol"></activity>
        <activity android:name=".GestionWhiteList"></activity>
        <activity android:name=".BorrarUsuario"></activity>
        <activity android:name=".SistemaLogs"></activity>
        <activity android:name=".Inbox"></activity>
        <activity android:name=".EnvioCorreos"></activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>